.Checkout
  grid-template-columns 3fr 1fr
  grid-gap 2rem
  grid-row-ga 1.5em
  display grid
  &-item
    display flex
    justify-content space-between
    align-items center
    .fas
      margin 0 0 0 10px
      color  rgba(0,0,0,.4)
      cursor pointer
    button
      background-color transparent
      border none
      outline none
  &-element
    display flex
    justify-content space-between
    align-items center
    width 100%
    border-bottom 1px solid #eee
    h4
      margin 0
