language: node_js
cache:
  directories:
    - node_modules
    - ~/.npm

node_js:
  - '12'

git:
  depth: 3

script:
  - yarn build

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-toke: $GITHUB_TOKEN
  local-dir: dist/
  target-branch: gh-pages
  commit_message: "Project Deploy"
  on:
    branch: master